{% load staticfiles %}
<link href="{{STATIC_URL}}/css/step3.css" rel="stylesheet">

{% block content %}
    <h1>Passo 3: Status dos depositos</h1>

    <h2>Endereço de depósito: <span>{{gDepositBTC}}<span></h2> 

    {% if addrObj %}

        <table border="1">
        <tbody>
        <tr>
            <td>STATUS</td>
            <td>CONFIRMACOES</td>
            <td>HASH</td>
            <td>DATA</td>
        </tr>

            {% for un_txrefs in  addrObj.unconfirmed_txrefs%}

                <!-- if para resolver duplicacao quando transacao nao esta confirmada -->
                {% if forloop.last %} 
                    <tr style='background-color: yellow'>
                    <td><span>Pendente</span></td>
                    <td>{{un_txrefs.confirmations}}</td>
                    <td><span>{{un_txrefs.tx_hash}}</span></td>
                    <td><span>{{un_txrefs.received}}</span></td>                    
                    </tr>
                {% endif %}

            {% endfor %}

            {% for txrefs in addrObj.txrefs %}

                {% if txrefs.tx_output_n > 0 %}
                    {% if txrefs.confirmations < 2 %}
                        <tr style='background-color: yellow'>
                        <td><span>Pendente</span></td>
                        <td><span>{{txrefs.confirmations}}</span></td>
                        <td><span>{{txrefs.tx_hash}}</span></td>
                        <td><span>{{txrefs.confirmed}}</span></td>
                        <tr>                    
                    {% else %} 
                        <tr style='background-color: #98FB98'>
                        <td><span>Confirmado</span></td>
                        <td><span>{{txrefs.confirmations}}</span></td>
                        <td><span>{{txrefs.tx_hash}}</span></td>
                        <td><span>{{txrefs.confirmed}}</span></td>
                        <tr>
                    {% endif %}                 
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
        


        <!--<span>STATUS: {{txrefs}}</span>-->
    {% endif %}

    <br><br><span>Fazer um novo deposito para o mesmo endereco: <span>
    <a class="btn btn-primary" href="/step_02">Passo 2</a>    

{% endblock %}